.brand {
  position: relative;
  padding: 30px 15%;
  min-height: 150px;

  & &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 22px 0;
    height: 150px;

    &-img {
      display: inline-flex;
      align-items: center;
      width: 70px;
    }
  }
}
