<div class="container">
  <div class="communication">
    <div class="communication__content">
      <h3 class="communication__title">Связь онлайн</h3>
      <p class="communication__text">Вы можете написать нам в любой из мессенджеров и мы ответим вам, максимально
        оперативно!</p>
      <a href="" class="communication__link">
        <i class="communication__link-logo" [inlineSVG]="'./assets/svg/telegram-white.svg'"></i>
        Telegram
      </a>
      <a href="" class="communication__link">
        <i class="communication__link-logo" [inlineSVG]="'./assets/svg/viber-white.svg'"></i>
        Viber
      </a>
    </div>
    <div class="communication__mobile">
      <img class="communication__mobile-img" src="./assets/img/phone.png" alt="">
    </div>
  </div>
</div>
