.top-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  background: #fff;
  padding: 12px 0;
  z-index: 20;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & &__logo {
    color: #202020;

    &.top-navigation__logo--sm {
      display: none;
    }

    &.top-navigation__logo--lg {
      display: inline-flex;
    }
  }

  & &__actions {
    display: inline-flex;
    align-items: center;
  }

  & &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 8px;
    background-color: #FDE6E7;
    border: 1px solid #DE070C;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #DE070C;
    text-decoration: none;
    margin-left: 10px;
  }

  & &__phone {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    height: 48px;
    border-radius: 8px;
    background-color: #DE070C;
    padding: 0 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .top-navigation {
    padding-left: 16px;
    padding-right: 16px;
    height: 60px;

    & &__logo {
      display: none;

      &.top-navigation__logo--sm {
        display: inline-flex;
      }

      &.top-navigation__logo--lg {
        display: none;
      }
    }

    & &__btn {
      width: 34px;
      height: 34px;
      padding: 5px;

      img {
        width: 100%;
      }
    }

    & &__phone {
      height: 34px;
      font-size: 18px;
      padding: 0 10px;
    }
  }
}
