<section class="top-navigation">
  <div class="container">
    <i class="top-navigation__logo top-navigation__logo--lg" [inlineSVG]="'./assets/svg/logo.svg'"></i>
    <i class="top-navigation__logo top-navigation__logo--sm" [inlineSVG]="'./assets/svg/logo-sm.svg'"></i>
  
    <div class="top-navigation__actions">
      <a href="https://t.me/drivesales_by" target="_blank" class="top-navigation__btn">
        <img src="./assets/svg/telegram.svg" alt="">
      </a>
      <a href="viber://chat?number=%2B375339140576" class="top-navigation__btn">
        <img src="./assets/svg/viber.svg" alt="">
      </a>
      <a href="tel:+37533910576" class="top-navigation__phone">+375(33) 914-05-76</a>
    </div>
  </div>
</section>
