.top-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  background: #fff;
  padding: 12px 15%;
  z-index: 10;

  & &__actions{
    display: inline-flex;
    align-items: center;
  }

  & &__btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 8px;
    background-color: #FDE6E7;
    border: 1px solid #DE070C;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #DE070C;
    text-decoration: none;
    margin-left: 10px;
  }

  & &__phone{
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    height: 48px;
    border-radius: 8px;
    background-color: #DE070C;
    padding: 0 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
  }
}