<div class="container">
  <div class="roadmap">
    <h2 class="roadmap__title">Как все происходит?</h2>
  
    <ul class="roadmap-list">
      <li class="roadmap-list__item">
        <h3 class="roadmap-list__item-title">Звонок</h3>
        <p class="roadmap-list__item-text">Позвоните по телефону указанным на сайте, либо напишите нам в <a href="" class="roadmap-list__item-link">Viber</a> или <a href="https://t.me/drivesales_by" target="_blank" class="roadmap-list__item-link">Telegram</a>. Так же вы можете оформить заявку на сайте.</p>
      </li>
      <li class="roadmap-list__item">
        <h3 class="roadmap-list__item-title">Переговоры</h3>
        <p class="roadmap-list__item-text">Вы рассказываете о вашем автомобиле. Мы детально изучаем всю информацию</p>
      </li>
      <li class="roadmap-list__item">
        <h3 class="roadmap-list__item-title">Выезд</h3>
        <p class="roadmap-list__item-text">Наш специалист выезжает на осмотр и оценку автомобиля. Оперативно оформляем документы для купли-продажи</p>
      </li>
      <li class="roadmap-list__item">
        <h3 class="roadmap-list__item-title">Расчет</h3>
        <p class="roadmap-list__item-text">Вы получаете полностью всю сумму за продаваемый автомобиль наличными или на банковский счет</p>
      </li>
    </ul>
  </div>
</div>