<div class="feedback">
  <div class="feedback__info">
    <h3 class="feedback__info-title">
      Оставить заявку на выкуп авто
    </h3>
    <p class="feedback__info-text">
      Вы можете оформить онлайн заявку на выкуп авто - мы предложим лучшую цену.
    </p>

  </div>
  <div class="feedback__form">
    <form class="feedback-form"
      action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScbVZ9qVsV4fSAMRJbse1t4zuTs_h0plNCqd9guB7IJ4NvDjw/formResponse"
      method="POST"
      target="_self">
      <div class="field _required">
        <label class="field__label">Марка авто:</label>
        <input class="field__input" type="text" name="entry.2114182233">
      </div>
      <div class="field _required">
        <label class="field__label">Год авто:</label>
        <input class="field__input" type="text" name="entry.1341191296">
      </div>
      <div class="field">
        <label class="field__label">Город:</label>
        <input class="field__input" type="text" name="entry.1914848227">
      </div>
      <div class="field">
        <label class="field__label">Цена:</label>
        <input class="field__input" type="text" name="entry.392160682">
      </div>
      <div class="field _required">
        <label class="field__label">Телефон:</label>
        <input class="field__input" type="text" name="entry.1994190562">
      </div>
      <div class="feedback-form__action">
        <button class="feedback-form__btn" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</div>
