<div class="feedback">
  <div class="feedback__info">
    <h3 class="feedback__info-title">
      Оставить заявку на выкуп авто
    </h3>
    <p class="feedback__info-text">
      Вы можете оформить онлайн заявку на выкуп авто. Прикрепляйте фото и мы пледложим лучшую цену.
    </p>

  </div>
  <div class="feedback__form">
    <form class="feedback-form">
      <div class="field">
        <label class="field__label">Марка авто:</label>
        <input class="field__input" type="text">
      </div>
      <div class="field">
        <label class="field__label">Марка авто:</label>
        <input class="field__input" type="text">
      </div>
      <div class="field">
        <label class="field__label">Марка авто:</label>
        <input class="field__input" type="text">
      </div>
      <div class="field">
        <label class="field__label">Марка авто:</label>
        <input class="field__input" type="text">
      </div>
      <div class="feedback-form__action">
        <button class="feedback-form__btn">Отправить</button>
      </div>
    </form>
  </div>
</div>
