.feedback {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-row-gap: 64px;

  & &__content{
    display: block;
    width: 600px;
  }

  & &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: #DE070C;
    min-width: 600px;
    color: #fff;

    &-title {
      display: block;
      width: 400px;
      font-size: 48px;
      line-height: 64px;
      font-weight: 800;
      margin: 0 0 20px 0;
    }
    
    &-text {
      display: block;
      width: 420px;
      font-size: 18px;
      line-height: 25px;
      font-weight: 300;
      margin: 0;
      max-width: 600px;
    }
  }

  & &__form {
    background: rgba(222, 7, 12, 0.2);
    padding: 32px 16px 32px 0;
  }
}

.feedback-form {
  background: #fff;
  padding: 40px 100px;
  max-width: 600px;

  & &__action {
    display: block;
    text-align: right;
    margin-top: 48px;
  }

  & &__btn {
    display: inline-flex;
    align-items: center;
    background: #DE070C;
    color: #fff;
    height: 62px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border: none;
    border-radius: 8px;
    padding: 0 40px;
  }
}

.field {
  position: relative;
  margin-bottom: 20px;

  & &__label {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  & &__input {
    display: block;
    width: 100%;
    height: 42px;
    border-radius: 4px;
    background: rgba(222, 7, 12, 0.05);
    border: 1px solid rgba(222, 7, 12, 0.1);
    outline: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    transition: all .3s ease-in-out;
    padding: 0 12px;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
      background: rgba(222, 7, 12, 0.1);
      border: 1px solid #DE070C;
    }
  }
}


@media screen and (min-width: 320px) and (max-width: 768px) {
  .feedback {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0;

    & &__content{
      width: auto;
    }

    & &__info {
      padding: 42px 16px;
      min-width: auto;

      &-title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
        width: auto;
      }

      &-text {
        width: auto;
      }
    }

    & &__form {
      background: #DE070C;
      padding: 0 8px 42px 8px;
    }
  }

  .feedback-form {
    padding: 12px 16px;
  }
}
