<div class="feedback">
  <div class="feedback__info">
    <h3 class="feedback__info-title">
      Оставить заявку на выкуп авто
    </h3>
    <p class="feedback__info-text">
      Вы можете оформить онлайн заявку на выкуп авто - мы предложим лучшую цену.
    </p>

  </div>
  <div class="feedback__form">
    <form class="feedback-form" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSehwWZ1ueqRHaQwJsfg5H4159PVvFTJWLRWT5UVMETBL6DuLA/formResponse" method="POST">
      <div class="field _required">
        <label class="field__label">Марка авто:</label>
        <input class="field__input" type="text" name="entry.1254667056">
      </div>
      <div class="field _required">
        <label class="field__label">Год авто:</label>
        <input class="field__input" type="text" name="entry.107195506">
      </div>
      <div class="field">
        <label class="field__label">Город:</label>
        <input class="field__input" type="text" name="entry.986674099">
      </div>
      <div class="field">
        <label class="field__label">Цена:</label>
        <input class="field__input" type="text" name="entry.977049584">
      </div>
      <div class="field _required">
        <label class="field__label">Телефон:</label>
        <input class="field__input" type="text" name="entry.1610566606">
      </div>
      <div class="feedback-form__action">
        <button class="feedback-form__btn" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</div>
