.work {
  position: relative;
  padding: 64px 15%;

  & &__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
    margin: 0 0 48px 0;
    text-align: center;
  }
}


.work-list{
  display: grid;
}
