.work {
  position: relative;
  padding: 64px 0;
  // padding: 64px 20%;

  & &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
    margin: 0 0 48px 0;
    text-align: center;
  }
}

.work-list {
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 64px;

  & &__item {
    padding: 0 20px;
    text-align: center;

    &-icon {
      display: inline-flex;
      width: 40px;
    }

    &-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      margin: 24px 0 8px;
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      margin: 0;
    }
  }
}


@media screen and (min-width: 320px) and (max-width: 768px) {
  .work {
    padding: 24px 0;

    & &__title {
      display: none;
    }
  }

  .work-list {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 64px;

    & &__item {
      &._hide {
        display: none;
      }
    }
  }
}
