<div class="container">
  <div class="sell">
    <img class="sell__img" src="./assets/img/sell.png" alt="">
    <div class="sell__content">
      <h3 class="sell__title">Хотите продать автомобиль?</h3>
      <p class="sell__text">Продавая автомобиль вы часто сталкиваетесь с проблемой затраченного времени и низкой
        оценкой, мы предлагаем услуги по выкупу и обмену вашего авто на выгодных для ВАС условиях, тем самым вы экономите
        свое время и нервы, потраченные в период ожидания продажи авто.</p>
      <a href="tel:+375339140576" class="sell__phone">+375(33) 914-05-76</a>
    </div>
  </div>
</div>
